{% extends 'base.html' %} {% block body %}

<div class="tab m-7">
  <button type="button" onclick="openCity(event, 'today')" class="tablinks border via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 text-white bg-gradient-to-r from-blue-500">نكهات اليوم</button>
  <button type="button" onclick="openCity(event, 'cup')" class="tablinks border via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">كاسات</button>
  <button type="button" onclick="openCity(event, 'bisc')" class="tablinks border via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2.5 text-center mb-2">بسكوت</button>
  <button type="button" onclick="openCity(event, 'drink')" class="tablinks border via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2.5 text-center mb-2">مشروب</button>
</div>


<div id="today" class="tabcontent" style="display: block">
<div class="container mx-auto mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for todays in todayw %}
          <div class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
      <img class="h-48 w-full object-cover object-center" src="{{ todays.img.url }}" alt="{{ todays.name }}"/>
      <div class="p-4">
        <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">{{ todays.name }}</h2>
        <p class="mb-2 text-base dark:text-gray-300 text-gray-700">{{ todays.contact }}</p>
        <div class="flex items-center">
          <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">{{ todays.price }} ريال</p>
    </div>
  </div>
</div>
  {% endfor todays %}
  </div>
</div>
</div>



  <div id="cup" class="tabcontent">
    <div class="container mx-auto mt-10">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for cup in cups %}
        <div class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
          <img class="h-48 w-full object-cover object-center" src="{{ cup.img.url }}" alt="{{ cup.name }}"/>
          <div class="p-4">
            <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">{{ cup.name }}</h2>
            <p class="mb-2 text-base dark:text-gray-300 text-gray-700">{{ cup.contact }}</p>
            <div class="flex items-center">
              <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">{{ cup.price }} ريال</p>
        </div>
      </div>
    </div>
      {% endfor cup %}
      </div>
    </div>
    </div>

    <div id="bisc" class="tabcontent">
      <div class="container mx-auto mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for bis in biscut %}
          <div class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
            <img class="h-48 w-full object-cover object-center" src="{{ bis.img.url }}" alt="{{ bis.name }}"/>
            <div class="p-4">
              <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">{{ bis.name }}</h2>
              <p class="mb-2 text-base dark:text-gray-300 text-gray-700">{{ bis.contact }}</p>
              <div class="flex items-center">
                <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">{{ bis.price }} ريال</p>
          </div>
        </div>
      </div>
        {% endfor bis %}
        </div>
      </div>
    </div>


    </div>

    <div id="drink" class="tabcontent">
      <div class="container mx-auto mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for drink in drink %}
          <div class="mx-auto mt-11 w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
            <img class="h-48 w-full object-cover object-center" src="{{ drink.img.url }}" alt="{{ drink.name }}"/>
            <div class="p-4">
              <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">{{ drink.name }}</h2>
              <p class="mb-2 text-base dark:text-gray-300 text-gray-700">{{ drink.contact }}</p>
              <div class="flex items-center">
                <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">{{ drink.price }} ريال</p>
          </div>
        </div>
      </div>
        {% endfor drink %}
        </div>
      </div>
      </div>


    {% endblock %}
    
